*
!*/
!*.h
!*.c
!*.mk
!Makefile
!README
!LICENSE
!dwm.1
!dwm.png
!autostart.sh
git.diff
tmp/**
*.json
*.o
*.obj
.*
.*/**
_*
*~
*.rej
*.orig
dwm
build.sh
!patches/**
config.h
!.gitignore
.cache/**
.clangd/**
